body{ background-color: #1C3879 ;}
h2{ color: yellow; }
br{color: red;}
li{color: white}
h5{color: #F0EBE3;}
ul{color: white;}
h1{color: yellow;}
span{color: white;}
hr{color: white;}
a {color: #F15412; background-color: #990000;}