body{ background-color: #1C3879 ;}
h2{ color: yellow; }
br{color: red;}
li{color: white}
h5{color: #F0EBE3;}
ul{color: white;}
h1{color: yellow;}
span{color: white;}
hr{color: white;}
a {color: black; background-color: yellow;}
p{color: purple; background-color: white; width: fit-content;}
h3{color: #F5E8C7;}
form{color: yellow;}
:placeholder-shown{color: purple;}
input{color: #F15412;}

